html{
    scroll-behavior: smooth;
}
header{
    margin: 0;
    padding: 0;
}

.body{
    background-color: #CFF5E7;
}
ul{
    list-style-type: none;
}
.body-1{
    height: 36px;
    background-color: black;
    padding: 0;
    color: aliceblue;
}
.content-1{
    text-decoration: none;
    float: left;
    list-style: none;
    border-right: #156ee2;
    display: block;
    padding: 5px 20px;
    line-height: 20px;
    color: #ffff;
}
.active a:hover{
    background-color: #156ee2;
}


.names{
    color:#863A6F;
    font-size: bold;
}

img{
    position: relative;
    left: 30%;
    padding: 10px;
    margin-top: 50px;
}
h3{
    
    font:  14px arial, sans-serif;
    position: relative;
   left: 43%;
   font-size:  bold medium;
}
a{
    text-decoration: none;

}